#container{
    height: 100vh;
    width: 100%;
    display: flex;
}

#leftContainer{
    width: 50%;
    background: url('./assets/bg.svg');
    background-size: cover;
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

#rightContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#rightContainer > h2{
    color: #333333;
}

#loginForm{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.fieldSection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formLabel{
    margin-right: -40px;
    z-index: 1;
    cursor: pointer;
}

#error{
    height: 20px;
    background-color: rgb(244, 213, 213);
    color: red;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    line-height: 10px;
    width: 100%;
    text-align: center;
}

@media (max-width:900px) {
    
    .formLabel{
        margin-right: -30px;
    }

    .formLabel > img{
        width: 20px;
    }    
}



