#headerContainer {
    width: 100%;
    background-color: #0343A9;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#navContainer ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 18px;
}

#navContainer a {
    text-decoration: none;
    color: #fff;
    transition: 1s;
}

#navContainer a:hover {
    color: #333;
}